/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.text-link {
  color: var(--text-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  text-decoration: none;
}

.text-link:hover {
  border-bottom: 1px solid var(--text-color);
}

.text-link:focus-visible {
  border: 1px solid var(--text-color);
  outline: none;
}

.header {
  display: grid;
  position: relative;
  grid-template-rows: 1fr min-content 1fr;
  min-block-size: 648px;
  height: 100vh;
  padding: 20px;
  margin-block-end: 60px;
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}


.header-decorated {
  position: absolute;
  width: 100%;
}

.header-decorated::after {
  position: absolute;
  top: 20px;
  right: 48px;
  content: "REC";
  color: var(--accent-color);
  text-align: center;
  font-family: var(--font-name), monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 25px;
}

.header-decorated::before {
  content: "";
  text-align: center;
  position: absolute;
  top: 28px;
  right: 29px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  filter: drop-shadow(0px 0px 4px var(--accent-color));
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
}

.header__theme-menu-button {
  color: var(--button-text-color);
  text-align: center;
  font-family: var(--font-name), monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  block-size: 26px;
  text-transform: lowercase;
  padding: 0 13px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.header__theme-menu-button:hover {
  outline: none;
  border: 1px solid var(--button-border-extra-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-border-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-border-color);
  pointer-events: none;
  cursor: default;
}

.header__title {
  position: relative;
  right: 20px;
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-name), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
}

.header__description {
  display: inline-block;
  inline-size: 50%;
  min-block-size: 70px;
  align-self: center;
  justify-self: end;
  color: var(--after-accent--text-color);
  font-family: var(--font-name), monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  padding-inline: 20px;
  margin-bottom: 60px;
  flex-grow: 1;
}

.main__text-section {
  display: grid;
  grid-template-columns: 32.5% 1fr;
  column-gap: 16px;
  justify-content: space-between;
  margin-block-end: 80px;
}

.main__section-title {
  font-family: var(--font-name), monospace;
  color: var(--button-text-color);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  font-size: var(--font-size);
}

.main__article-title {
  font-family: var(--font-name), monospace;
  color: var(--after-accent--text-color);
  font-size: var(--font-size);
  font-weight: var(--font-weight-bold);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.main__article-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__article-text {
  font-family: var(--font-name), monospace;
  font-size: var(--font-size);
  color: var(--text-color);
  font-weight: var(--font-weight-normal);
  line-height: 23.4px;
}

.main__article-wrapper .main__article-title {
  margin-block-end: 20px;
}

.main__text-section_multi-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__text-section_multi-cards .main__section-title {
  width: 30.7%;
}

.main__text-section_multi-cards .main__article-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: space-between;
}

.main__article-subtitle {
  color: var(--after-accent--text-color);
  font-family: var(--font-name), monospace;
  font-size: var(--font-size);
  font-style: normal;
  font-weight: var(--font-weight-normal);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.main__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 25vw 31vw 42.5vw;
  gap: 20px;
  grid-template-areas:
    "sunset sunset ice"
    "tape books ice"
    "tape street street";
}

.main__gallery-section .main__article-title {
  margin-block-end: 20px;
}

.main__gallery-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.main__gallery-image_sunset {
  grid-area: sunset;
}
.main__gallery-image_ice {
  grid-area: ice;
}
.main__gallery-image_tape {
  grid-area: tape;
}
.main__gallery-image_books {
  grid-area: books;
}
.main__gallery-image_street {
  grid-area: street;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-family: var(--font-name), monospace;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  font-weight: var(--font-weight-bold);
  line-height: 82.5%;
}

@media screen and (768px <= width < 1024px) {
  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .header__title {
    left: -20px;
  }

  .main__text-section {
    grid-template-columns: 32.6% 1fr;
  }

  .main__text-section_multi-cards .main__article-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: space-between;
  }

  .main__gallery {
    grid-template-rows: 25vw 30vw 41vw;
  }
}

@media screen and (width < 768px) {
  .header {
    padding: 10px;
    margin-block-end: 30px;
  }

  .header__theme-menu {
    display: flex;
    justify-content: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }

  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }

  .decorated-zone::after {
    top: 10px;
    right: 10px;
  }

  .header-decorated::after {
    top: 10px;
    right: 38px;
  }

  .header-decorated::before {
    top: 18px;
    right: 19px;
  }

  .header__title {
    left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header__description {
    inline-size: 100%;
  }

  .main {
    padding: 10px;
    margin-block-end: 30px;
  }

  .main__text-section {
    grid-template-columns: 1fr;
    margin-block-end: 50px;
  }

  .main__section-title {
    margin-block-end: 20px;
  }

  .main__article-title {
    margin-block-end: 10px;
  }
  .main__text-section_multi-cards {
    gap: 0;
  }

  .main__text-section_multi-cards .main__article-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-content: space-between;
  }
  .main__text-section_multi-cards .main__section-title {
    width: 100%;
  }
  .main__gallery {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__gallery-section .main__article-title {
    margin-block-end: 10px;
  }

  .footer {
    padding: 10px;
  }

  .footer__title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
